@{
    ViewData["Title"] = "Home Page";
}



    <div class="text-right">
        @if (User.Identity.IsAuthenticated)
        {
            <p>@User.Identity.Name</p>

            <form method="post" asp-controller="Account" asp-action="Logout">
                <input class="btn btn-light m-1" type="submit" value="Выход" />
            </form>
        }
        else
        {
            <a class="btn btn-light" asp-controller="Account" asp-action="Login">Вход</a>
            <a class="btn btn-light" asp-controller="Account" asp-action="Register">Регистрация</a>
        }
    </div>

<div class="text-center">
    <h1 class="display-4">Журнал для регистрации корреспонденции</h1>
</div>


